In [213]:
import pandas as pd

In [214]:
company_share = pd.read_csv('Untouched_Business_case/Data/Company_Share_GBO_unit.csv', delimiter=';')

In [215]:
company_share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [216]:
company_share = company_share.dropna(axis = 0, how = 'all')

In [217]:
company_share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
5,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-16,4.0,"11121,69868"
7,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"6252,38259"
9,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31 12 2016,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...
43327,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
43329,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [218]:
company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

In [219]:
company_share['Year_date'].unique()

array(['31-12-2016', '31-12-2017', '31-12-2018', '31-12-2019',
       '31-12-2020', '31-12-2021'], dtype=object)

In [220]:
company_share.shape

(21668, 11)

In [221]:
company_share.drop_duplicates(inplace=True)

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/3828042781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share.drop_duplicates(inplace=True)

In [222]:
company_share = company_share.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [223]:
company_share['Volume'] = company_share['Volume'].str.replace(',', '.').astype(float)

In [224]:
company_share.loc[company_share['Unit'] == 'million litres', 'volume_litres'] = company_share['Volume'] * 1000000.0
company_share.loc[company_share['Unit'] == '000 litres', 'volume_litres'] = company_share['Volume'] * 1000.0

In [225]:
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
company_share['Location_text'] = company_share['Location']
company_share['Location_text'].replace(mapping_location, inplace=True)

In [226]:
subcategories = pd.read_csv('Untouched_Business_case/Data/Subcategories.csv', index_col='id')
subcategories_short = subcategories['Name']
mapping_subcategories = subcategories_short.to_dict()
company_share['Subcategory'] = company_share['Subcategory_ID']
company_share['Subcategory'].replace(mapping_subcategories, inplace=True)

In [227]:
company_share.head(15)

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume,volume_litres,Location_text,Subcategory
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-2016,4.0,35506.377320,3.550638e+10,World,Beer
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,31-12-2016,4.0,18482.595800,1.848260e+10,World,Beer
5,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-2016,4.0,11121.698680,1.112170e+10,World,Beer
7,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-12-2016,4.0,6252.382590,6.252383e+09,World,Beer
9,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31-12-2016,4.0,7834.494901,7.834495e+09,World,Beer
11,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Asahi Group Holdings Ltd,million litres,2016.0,31-12-2016,4.0,2446.943741,2.446944e+09,World,Beer
13,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Beijing Yanjing Brewery Co Ltd,million litres,2016.0,31-12-2016,4.0,5373.662882,5.373663e+09,World,Beer
15,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Kirin Holdings Co Ltd,million litres,2016.0,31-12-2016,4.0,4770.918623,4.770919e+09,World,Beer
17,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Diageo Plc,million litres,2016.0,31-12-2016,4.0,1926.566783,1.926567e+09,World,Beer
19,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,San Miguel Corp,million litres,2016.0,31-12-2016,4.0,1549.127299,1.549127e+09,World,Beer
21,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Castel Groupe,million litres,2016.0,31-12-2016,4.0,1670.209463,1.670209e+09,World,Beer
23,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Saigon Alcohol Beer & Beverages Corp (Sabeco),million litres,2016.0,31-12-2016,4.0,1242.829771,1.242830e+09,World,Beer
25,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Cervejaria PetrÃƒÂ³polis SA,million litres,2016.0,31-12-2016,4.0,1463.857554,1.463858e+09,World,Beer
27,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anadolu Group,million litres,2016.0,31-12-2016,4.0,2365.222039,2.365222e+09,World,Beer
29,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Suntory Holdings Ltd,million litres,2016.0,31-12-2016,4.0,1622.630286,1.622630e+09,World,Beer

In [228]:
company_share['Year_minus_2016'].value_counts()

Year_minus_2016
4.0    3674
5.0    3647
6.0    3631
7.0    3604
8.0    3573
9.0    3539
Name: count, dtype: int64

In [229]:
company_share['Year_text'].value_counts()

Year_text
2016.0    3674
2017.0    3647
2018.0    3631
2019.0    3604
2020.0    3573
2021.0    3539
Name: count, dtype: int64

In [231]:
company_share.shape

(21668, 14)

In [230]:
company_share.to_csv('company_share_cleaned.csv', index=False)